<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EDOC.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <globalization uiCulture="en" culture="en-US"/>
    <identity impersonate="true"/>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="URLREWRITER/UpdateQuotePrintFormat/*/*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" batch="true">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=2.112.1.1, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <remove extension=".lic"/>
        <add extension=".lic" type="System.Web.Compilation.ForceCopyBuildProvider"/>
      </buildProviders>
    </compilation>
    <pages enableEventValidation="false" validateRequest="false" theme="DefualtSkin">
      <namespaces>
        <add namespace="System.Data"/>
        <add namespace="EDOC"/>
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit"/>
        <add tagPrefix="obout" namespace="OboutInc.Flyout2" assembly="obout_Flyout2_NET"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="ADEQCOOK" loginUrl="login.aspx" protection="All" timeout="1440" defaultUrl="~/Home.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
      cookieless="false" timeout="3600"/>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="3.9" executionTimeout="1800"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="SAPTest" USER="it01.acl" PASSWD="kjhgfdsa" CLIENT="168" LANG="EN" ASHOST="172.20.1.1" SYSNR="01" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
          <add NAME="SAPRPD" USER="it01.acl" PASSWD="kjhgfdsa" CLIENT="168" LANG="EN" ASHOST="172.20.1.166" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
          <add NAME="SAPUS_TEST" USER="b2baeu" PASSWD="ebizaeu" CLIENT="168" LANG="EN" ASHOST="172.20.1.1" SYSNR="01" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
          <add NAME="SAPUS_PRD" USER="b2baeu" PASSWD="ebizaeu" CLIENT="168" LANG="EN" ASHOST="172.20.1.166" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>  
  <connectionStrings>
    <add name="EQ"
      connectionString="Data Source=ACLSTNR12;Initial Catalog=eQuotationStaging;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true';Application Name='eQ1'"
      providerName="System.Data.SqlClient"/>
    <add name="eQEntities"
      connectionString="metadata=res://*/Entities.eQuotationEntity.csdl|res://*/Entities.eQuotationEntity.ssdl|res://*/Entities.eQuotationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACLSTNR12;initial catalog=eQuotationStaging;persist security info=True;user id=b2bsa;password=@dvantech!;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!--<add name="EQ_Test" connectionString="Data Source=ACLSTNR12;Initial Catalog=eQuotationStaging;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'"
            providerName="System.Data.SqlClient" />-->
    <add name="CRM"
      connectionString="Data Source=ACLSTNR3;Initial Catalog=aclcrmdb;Password=q32j80qkut;User ID=SYSMYADVANTECH;Connect Timeout=3000;pooling='true';ApplicationIntent=ReadOnly;Application Name='eQ1';"
      providerName="System.Data.SqlClient"/>
    <add name="CRMDBREP75"
      connectionString="Data Source=ACLSTNR3;Initial Catalog=aclcrmdb;Password=q32j80qkut;User ID=SYSMYADVANTECH;Connect Timeout=3000;pooling='true';ApplicationIntent=ReadOnly;Application Name='eQ2';"
      providerName="System.Data.SqlClient"/>
    <add name="B2B"
      connectionString="Data Source=ACLSTNR12;Initial Catalog=MyAdvantechGlobal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true';Application Name='B2B'"
      providerName="System.Data.SqlClient"/>
    <!--<add name="EPRICER" connectionString="Data Source=EPRICERV1;Initial Catalog=price_stage;Persist Security Info=True;User ID=sa;Password=advantechtw;async=true;Connect Timeout=180;pooling='true'" providerName="System.Data.SqlClient" />-->
    <add name="EPRICER"
      connectionString="Data Source=ACLSQL7\SQL2008R2;Initial Catalog=ePricerV2;Persist Security Info=True;User ID=ePricerSa;Password=1pric1r$a;async=true;Connect Timeout=180;pooling='true';Application Name='eQ'"
      providerName="System.Data.SqlClient"/>
    
    <add name="MYLOCAL"
      connectionString="Data Source=myadvan-global;Initial Catalog=MyLocal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="MYLOCAL_NEW"
      connectionString="Data Source=aclecampaign\MATEST;Initial Catalog=MyLocal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="SAP_PRD"
      connectionString="user id=ebiz;password=ebiz;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.20.1.166)(PORT=1527))(CONNECT_DATA=(SERVICE_NAME=RDP)))"
      providerName="Oracle.DataAccess.Client"/>
    <add name="SAP_Test"
      connectionString="user id=ebiz;password=ebiz;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.20.1.1)(PORT=1528))(CONNECT_DATA=(SERVICE_NAME=RDQ)))"
      providerName="Oracle.DataAccess.Client"/>
    <add name="PLM_PRD"
      connectionString="User ID=b2b;Password=b2b;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.20.1.82)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=agile9)))"
      providerName="Oracle.DataAccess.Client"/>
    <add name="MY"
      connectionString="Data Source=ACLSTNR12;Initial Catalog=MyAdvantechGlobal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;Application Name=MyAdvantech_eCampaign;async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="MyAdvantechGlobalEntities"
      connectionString="metadata=res://*/Entities.MyAdvantechGlobalEntity.csdl|res://*/Entities.MyAdvantechGlobalEntity.ssdl|res://*/Entities.MyAdvantechGlobalEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACLSTNR12;initial catalog=MyAdvantechGlobal;persist security info=True;user id=b2bsa;password=@dvantech!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="Estore"
      connectionString="Data Source=172.21.1.106;Initial Catalog=eStoreProduction;Persist Security Info=True;User ID=estore3test;Password=estore3test;async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="PIS"
      connectionString="Data Source=ACLSTNR12;Initial Catalog=PIS;Persist Security Info=True;User ID=myAdvanApp;Password=myAdv@n;Application Name='PIS1';async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="PISBackEnd"
      connectionString="Data Source=ACLSTNR12;database=PISBackend;User Id =PISApp;Password =pisuser;MultipleActiveResultSets=true;Application Name='PIS2';"
      providerName="System.Data.SqlClient"/>
    <add name="AonlineWall" connectionString="data source=172.21.1.106;User ID=AOnlineAppAgent;pwd=AOnline#1Best;Initial Catalog=AOnlineDocCenter"
      providerName="System.Data.SqlClient"/>
    <add name="ReplaclcrmdbConnectionString"
      connectionString="Data Source=ACLSQL9;Initial Catalog=aclcrmdb;Persist Security Info=True;User ID=SYSMYADVANTECH;Password=q32j80qkut"
      providerName="System.Data.SqlClient"/>
    <add name="MY"
      connectionString="Data Source=ACLSTNR12;Initial Catalog=MyAdvantechGlobal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;Application Name=MyAdvantech_eCampaign;async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="CP" connectionString="Data Source=ACLSTNR12;Initial Catalog=CurationPool;User ID=b2bsa;Password=@dvantech!;Application Name='CP'"
      providerName="System.Data.SqlClient"/>
    <add name="EZ"
      connectionString="Data Source=ACLSTNR5;Initial Catalog=Employee_New;Persist Security Info=True;User ID=EZToMyAdvantech;Password=my@dv@nt1ch;async=true;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
    <add name="Pipeline"
      connectionString="Data Source=172.21.1.18;initial catalog=CheckPointDB;persist security info=True;user id=ITRequestSA;password=1trequ1$ts@"
      providerName="System.Data.SqlClient"/>
    <add name="ePricerV2"
      connectionString="Data Source=ACLSQL7\SQL2008R2;Initial Catalog=ePricerV2;Persist Security Info=True;User ID=ePrice2MyAdv;Password=19ric1r2my@dv;Connect Timeout=300;pooling='true'"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MYGLOBAL.B2B_SAP_WS" value="http://myadvan-global:9000/B2B_SAP_WS.asmx"/>
    <add key="SiebelWS.Siebel_WS" value="http://myadvan-global:2000/Services/Siebel_WS.asmx"/>
    <add key="SMTPServer" value="172.20.0.76"/>
    <add key="SAPConnTest" value="CLIENT=168 USER=b2bacl PASSWD=aclacl ASHOST=172.20.1.1 SYSNR=1"/>
    <add key="SMTPServerBAK" value="172.21.34.21"/>
    <add key="SSO.membershipwebservice" value="http://member.advantech.com/membershipwebservice.asmx"/>
    <add key="SAP_PRD" value="CLIENT=168 USER=b2baeu PASSWD=ebizaeu ASHOST=172.20.1.88 SYSNR=0"/>
    <add key="InvalidOrg"
      value="('CN02','CN11','CN12','CN13','CN20','CN30','CN40','EU20','EU30','EU31','EU32','EU33','EU34','EU50','TW02','TW03','TW04','TWCP','TW07')"/>
    <add key="MAMigrationWS.MAMigration" value="http://my.advantech.com/Services/MAMigration.asmx"/>
    <add key="SAPWS.eBizAEU_WS" value="http://myadvan-global:9000/eBizAEU_WS.asmx"/>
    <add key="test2.ws_ecommerce" value="http://172.20.1.102/advantechws/ws_ecommerce.asmx"/>
    <add key="CanOrderProdStatus" value="('A','N','H','O','M1','C','P','S2','S5','T','V')"/>
    <add key="MAEU.MAEUEXIT" value="http://172.21.34.54/SERVICES/MAEUEXIT.ASMX"/>
    <add key="SAP_WS.B2B_SAP_WS" value="http://myadvan-global:9000/B2B_SAP_WS.asmx"/>
    <add key="test.USAdvSalesOrder" value="http://172.20.1.102/USAdvOrderBAPI/USAdvSalesOrder.asmx"/>
    <add key="AgsWS.USTaxService" value="http://ags.advantech.com/WebService/USTaxService.asmx"/>
    <add key="CBOMWS.MyCBOMDAL" value="http://my.advantech.com/Services/MyCBOMDAL.asmx"/>
    <add key="eCovWS.WSSiebel" value="http://172.20.1.43:8089/WSSiebel.asmx"/>
    <add key="CRMHQId" value="MYADVANTECH"/>
    <add key="CRMHQPwd" value="MYADVANTECH1234"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\ChartTemp\;"/>
    <add key="eStoreQuote.eStoreWebService" value="http://buy.advantech.com/eStoreWebService.asmx"/>
    <add key="CBOMWS4002.MyCBOMDAL" value="http://my.advantech.com:4002/Services/MyCBOMDAL.asmx"/>
    <add key="WallFile_Path" value="E:\\AOnlineWall\\"/>
    <add key="QuartzJob" value="OFF"/>
  </appSettings>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/URLREWRITER/UpdateQuotePrintFormat/([\s\S]*)/([\s\S]*)\.aspx</LookFor>
        <SendTo>~/Quote/UpdateQuotePrintFormat.aspx?QuoteID=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <applicationSettings>
    <EDOC.My.MySettings>
      <setting name="EDOC_AgsWS_USTaxService" serializeAs="String">
        <value>http://ags.advantech.com/WebService/USTaxService.asmx</value>
      </setting>
      <setting name="EDOC_CBOMWS_MyCBOMDAL" serializeAs="String">
        <value>http://my.advantech.com/Services/MyCBOMDAL.asmx</value>
      </setting>
      <setting name="EDOC_eCovWS_WSSiebel" serializeAs="String">
        <value>http://172.20.1.43:8089/WSSiebel.asmx</value>
      </setting>
      <setting name="EDOC_eStoreQuote_eStoreWebService" serializeAs="String">
        <value>http://buy.advantech.com/eStoreWebService.asmx</value>
      </setting>
      <setting name="EDOC_MAMigrationWS_MAMigration" serializeAs="String">
        <value>http://my.advantech.com/Services/MAMigration.asmx</value>
      </setting>
      <setting name="EDOC_SAP_WS_B2B_AEU_WS" serializeAs="String">
        <value>http://myadvan-global:9000/B2B_SAP_WS.asmx</value>
      </setting>
      <setting name="EDOC_SAPWS_eBizAEU_WS" serializeAs="String">
        <value>http://myadvan-global:9000/eBizAEU_WS.asmx</value>
      </setting>
      <setting name="EDOC_SiebelWS_Siebel_WS" serializeAs="String">
        <value>http://myadvan-global:2000/Services/Siebel_WS.asmx</value>
      </setting>
      <setting name="EDOC_SSO_MembershipWebservice" serializeAs="String">
        <value>http://member.advantech.com/membershipwebservice.asmx</value>
      </setting>
      <setting name="EDOC_UpdateSiebelAcc_ADVWebService_UpdAccount" serializeAs="String">
        <value>http://CRMAP-GLOBAL3/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=MYADVANTECH&amp;Password=MYADVANTECH1234</value>
      </setting>
    </EDOC.My.MySettings>
  </applicationSettings>
  <location path="Images" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Css" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Js" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SSOENTER.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SSO.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Lab" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Services" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Functions/DoApprove.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GPPad/MobileApprove.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Quote/piHtml.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Ascx/DisplayImageHandler.ashx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Lab/Account_Management.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: {96D104D7-68A1-4A92-B859-FACCEC39757C}-->