<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SAPDAL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--=====Both SAP_PRD AND SAP_TEST WILL CONNECT TO SAP Testing Site/DB only=====-->
    <add key="SAP_PRD" value="CLIENT=168 USER=b2baeu PASSWD=ebizaeu ASHOST=172.20.1.1 SYSNR=1" />
    <add key="SAPConnTest" value="CLIENT=168 USER=b2baeu PASSWD=ebizaeu ASHOST=172.20.1.1 SYSNR=1" />
    <!--=========================================-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="InvalidOrg" value="('CN02','CN11','CN12','CN13','CN20','CN40','EU20','EU30','EU31','EU32','EU33','EU34','EU50','TW02','TW03','TW04','TWCP','TW07')"/>
  </appSettings>
  <connectionStrings>
    <add name="EQ" connectionString="Data Source=aclecampaign2\MATEST;Initial Catalog=eQuotationStaging;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'" providerName="System.Data.SqlClient"/>
    <add name="MYLOCAL" connectionString="Data Source=aclecampaign2\MATEST;Initial Catalog=MyLocal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'" providerName="System.Data.SqlClient"/>
    <add name="MY" connectionString="Data Source=aclecampaign2\MATEST;Initial Catalog=MyAdvantechGlobal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'" providerName="System.Data.SqlClient"/>
    <!--=====Both SAP_PRD AND SAP_TEST WILL CONNECT TO SAP Testing Site/DB only=====-->
    <add name="SAP_PRD" connectionString="user id=ebiz;password=ebiz;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.20.1.1)(PORT=1528))(CONNECT_DATA=(SERVICE_NAME=RDQ)))" providerName="Oracle.DataAccess.Client"/>
    <add name="SAP_Test" connectionString="user id=ebiz;password=ebiz;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.20.1.1)(PORT=1528))(CONNECT_DATA=(SERVICE_NAME=RDQ)))" providerName="Oracle.DataAccess.Client"/>
    <!--=========================================-->
    <add name="SAPDAL.My.MySettings.MyAdvantechGlobalConnectionString" connectionString="Data Source=aclecampaign2\MATEST;Initial Catalog=MyAdvantechGlobal;Persist Security Info=True;User ID=b2bsa;Password=@dvantech!;async=true;Connect Timeout=300;pooling='true'" providerName="System.Data.SqlClient"/>

    <add name="PIS" connectionString="Data Source=ACLSTNR12;Initial Catalog=PIS;Persist Security Info=True;User ID=pisdbsa;Password=piss@;Application Name=Myadvantech;async=true;Connect Timeout=300;pooling='true'" providerName="System.Data.SqlClient" />
    <add name="SAPDAL.My.MySettings.PISConnectionString" connectionString="Data Source=ACLSTNR12;Failover Partner=ACLSQL7\SQL2008R2;Initial Catalog=PIS;Persist Security Info=True;User ID=pisdbsa;Password=piss@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <SAPDAL.My.MySettings>
      <setting name="SAPDAL_agsWS_USTaxService" serializeAs="String">
        <value>http://ags.advantech.com/WebService/USTaxService.asmx</value>
      </setting>
    </SAPDAL.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" />
  </runtime>
</configuration>