@*<script type="text/javascript">
    if (location.href.split('#').splice(1).join('#') == "" || location.href.split('#').splice(1).join('#') == "?tab=0") {
        initContent('Quotes/MyQuotation');
    }
</script>*@


<div class="main-content">
    <div class="topbox titlebox"><h4></h4></div>
    <div class="actionbox">
        <ul><li><strong>eQuotation</strong></li></ul>
    </div>
    <div class="flex-row flex-ver-stretch" style="border:1px solid #aaa; justify-content:center; align-items:center;">
        <div id="logo" class="">
            <div style="font: 40px 'Tahoma'; font-weight: bold; opacity:1.0">
                @*<img src="~/Images/adv-logo.jpg" width="300" height="120" />*@
            </div>
        </div>
    </div>
</div>
